:root {
    --text-subdued: #b3b3b3;
    /* Assign a value */
    --background-main: rgba(33, 33, 33, 1);
    --background-seconday: rgba(255, 255, 255, 0.2);
    --font-stack: Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    all: unset;
}

body {
    background-color: black;
}

.content {
    height: calc(100vh - 5rem);
    width: 100vw;
    /* background-color: var(--background-main); */
    display: flex;
    gap: 1rem;
    padding: 1%;
}

.content>div {
    background-color: var(--background-main);
    border-radius: 0.5rem;
    color: white;
    padding: 1rem;
}

.content .LibraryGroup {
    background-color: rgb(15, 15, 15);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: calc(20% - 0.5%);
    height: 100%;
}

.PlaylistItems {
    width: auto;
    height: auto;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #1f1f1f;
}

.PlaylistItems > button {
    width: fit-content;
    font-weight: 560;
}

.Media {
    width: calc(80% - 0.5%);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.MainContent {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

 
.CollectionCategory {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.CollectionHeading{
    font-size: 2rem;
    grid-column: 1/5;
}

.CollectionList {
display: flex;
width: 100%;
gap: 1rem;
overflow-y: auto;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;
anchor-name: --carousel;
position: relative;
grid-column: 1/5;
}


.CollectionList>.Collection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
    width: 12rem;
    height: 16rem;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.Collection::after {
    content: '\25B6';
    background-color: #1ed760;
    color: black;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    opacity: 0;
    transform: translateY(2rem);
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 40%;
    right: 10%;
}



.CollectionList>.Collection:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
}

.CollectionList > .Collection:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.CollectionList>.Collection>img {
    height: 9rem;
}



.CollectionList>.Collection>.Title {
    font-size: 0.9rem;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.CollectionList>.Collection>.Description {
    font-size: 0.8rem;
    opacity: 0.8;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}



.MainContent::-webkit-scrollbar {
background-color: rgba(255, 255, 255, 0.184);
}

.MainContent::-webkit-scrollbar-thumb {
background-color: rgba(255, 255, 255, 0.26);
}


.CollectionList::-webkit-scrollbar {
    display: none;
}
/* 
.CollectionList::scroll-button(right), .CollectionList::scroll-button(left) {

background-color: rgba(255, 255, 255, 0.064);
color: white;
width: 3rem;
height: 3rem;
font-size: large;
cursor: pointer;
border: none;
transition: all 0.2s ease-in-out;
position-anchor: --carousel;
position: inline;  
margin-right: 1rem;

}

.CollectionList::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
    height: 10rem;
    width: 10rem;

}

.Collection::scroll-marker{
    content: '';
    height: 1rem;
    width: 1rem;
    background-color: var(--background-seconday);
}

.Collection::scroll-marker:target-current{
    background-color: pink
}



.CollectionList::scroll-button(right):hover, .CollectionList::scroll-button(left):hover {

scale: 1.2;

}

.CollectionList::scroll-button(right){
    content: '>';
    position-area: right center;    
}

.CollectionList::scroll-button(left) {
content: '<';
position-area: left center;

}


.CollectionList::scroll-button(right):disabled, .CollectionList::scroll-button(left):disabled {
opacity: 0.5;
cursor: auto;

} */
