.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100vw;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--text-subdued);
    transform: translateY(-100%);
    opacity: 0;
    animation: navBarShow 0.5s ease-out forwards;
}

@keyframes navBarShow {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar.show {
    transform: translateY(0);
    opacity: 1;
}

.navbar>div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navleftsection {
    justify-content: left;
    width: 60%;
}

.navrightsection {
    justify-content: right;
    width: 40%;
}

.navleftsection>.searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 30rem;
    gap: 1rem;
    border-radius: 2.5rem;
    background-color: rgb(33, 33, 33);
    /* padding: 0.5rem 1rem;     */
    position: relative;
    margin-left: auto;
    border: 2px solid transparent;
    transition: border 0.2s ease-in-out;
}

.searchbox>input {
    height: 60%;
    width: 100%;
    background-color: inherit;
    /* border-radius: 2.5rem; */
    border-right: 2px solid var(--text-subdued);
    border-left: none;
    border-top: none;
    border-bottom: none;
    outline: none;
    color: white;
    font: bold;
    margin: 0 18%;
    padding: 0 5%;
    transition: all 0.2s ease-in-out;
}

.searchbox:has(input:focus) {
    border: 2px solid white;
}

.searchbox>input::placeholder {
    color: #E0E0E0
}

.searchbox>button {
    position: absolute;
}

.searchbox>button#btnSearch {
    left: 2%;
}

.searchbox>button#btnBrowse {
    right: 2%;
}

.navrightsection>.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.navrightsection>.nav-links li {
    cursor: pointer;
    padding: 0.5rem;
    color: white;
    transition: all 0.2s ease-in-out;
}

.navrightsection>.nav-links li:hover {
    transform: translateY(-0.2rem);
    font: bolder;
}

.intallapp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    color: black;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5%;
}

.intallapp>button {
    all: unset;
    height: inherit;
}

.intallapp:hover {
    background-color: black;
    color: var(--text-subdued);
}